<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      main {
        text-align: center;
      }
      div {
        padding-top: 200px;
      }
    </style>
  </head>
  <body>
    <main>
      <div>
        <h1>You are be confirm successfully!</h1>
      </div>
    </main>
  </body>
</html>
